* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: white;
  /* background: linear-gradient(135deg, #5f9cff, #6f7cff); */
  min-height: 100vh;
  display: flex;
  
}

.container {
  background: #fff;
  padding: 35px;
  width: 100%;
  max-width: 420px;
  border-radius: 14px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.15);
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.field {
  position: relative;
  margin-bottom: 18px;
}

.field input {
  width: 100%;
  padding: 12px 42px 12px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

button {
  width: 100%;
  background: #5f9cff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #4a86e8;
}

.error {
  background: #ffe2e2;
  color: #b00000;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  text-align: center;
}

.success-box {
  background: #e6ffed;
  color: #087f23;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}
