* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.password-container {
  background: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.password-container h2 {
  margin-bottom: 20px;
}

/* INPUT GROUP */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 14px;
  border-radius: 8px;
  border: 1.8px solid #ccc;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #2e2a7b;
  outline: none;
}

/* EYE ICON */
.toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #2e2a7b;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #24206a;
}

/* MESSAGES */
.msg {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

.msg.success {
  background: #e6f6ea;
  color: #1b7a3a;
}

.msg.error {
  background: #fdeaea;
  color: #a10f0f;
}

/* BACK LINK */
.back-link {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #2e2a7b;
  font-weight: 600;
}
