{% extends "admin/admin_dashboard.html" %}
{% block body %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View User Complaints</title>
    <link rel="stylesheet" href="/static/admin/view_complaints.css" />
    <style>
      .heading1 {
        text-align: center;
        margin-bottom: 25px;
        color: #2e2a7b;
        font-size: 26px;
        font-weight: 700;
        }
    </style>
  </head>

  <body>
    <h2 class="heading1">All User Complaints</h2>

    <div class="search-container">
      <input
        type="text"
        id="searchInput"
        class="search-box"
        placeholder="Search by User, Date, or Complaint..."
      />
    </div>

    <table border="1" cellpadding="8" cellspacing="0" id="complaintsTable">
      <tr>
        <th>Sl No</th>
        <th>Date</th>
        <th>User</th>
        <th>Complaint</th>
        <th>Reply</th>
      </tr>

      {% for c in complaints %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ c.Date }}</td>
        <td>{{ c.USER.username }}</td>
        <td>{{ c.Complaint }}</td>
        {% if c.Reply == "no reply" %}
        <td>
          <a href="/myapp/admin_reply_get/{{ c.id }}/">Reply</a>
        </td>
        {% else %}

        <td>{{ c.Reply }}</td>
        {% endif %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No complaints found</td>
      </tr>
      {% endfor %}
    </table>

    <div class="back-btn-container">
      <a href="/myapp/admin_dashboard_get/" class="back-btn"
        >Back to Dashboard</a
      >
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
          var searchTerm = $(this).val().toLowerCase();

          $("#complaintsTable tr:not(:first)").each(function () {
            var rowText = $(this).text().toLowerCase();

            if (rowText.includes(searchTerm)) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        });
      });
    </script>
  </body>
</html>
{% endblock %}
