{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Admin Dashboard</title>

    <link rel="stylesheet" href="/static/shop/shop_dashboard.css" />
  </head>

  <body>
    <!-- SIDEBAR -->
    <aside class="sidebar">
      <h2 class="logo">🐾 Shop Admin</h2>

      <ul class="menu">
        <li><a href="/myapp/shop_dashboard_get/" class="active">Dashboard</a></li>
        <li><a href="/myapp/add_pet_get/">Add Pet</a></li>
        <li><a href="/myapp/shop_view_pets_get/">View Pets</a></li>
        <li><a href="/myapp/shop_add_product_get/">Add Product</a></li>
        <li><a href="/myapp/shop_view_products_get/">View Products</a></li>
        <li><a href="/myapp/shop_profile_get/">Shop Profile</a></li>
        <li><a href="/myapp/shop_change_password_get/">Change Password</a></li>
        <li><a href="/myapp/logout/">Logout</a></li>
      </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="main">
      <!-- TOP BAR -->
      <header class="topbar">
        <h1>Dashboard</h1>
        <p>Welcome, {{ shop.owner_name }}</p>
      </header>



      <!-- STAT CARDS -->
      <section class="stats">
        <div class="stat-card">
          <h2>{{ total_pets }}</h2>
          <p>Total Pets</p>
        </div>
        <div class="stat-card">
          <h2>{{ total_categories }}</h2>
          <p>Categories</p>
        </div>
      </section>

      <!-- QUICK ACTIONS -->
      <section class="quick-actions">
        <h2 class="section-title">Quick Actions</h2>

        <div class="action-grid">
          <a href="/myapp/add_pet_get/" class="action-card">➕ Add New Pet</a>
          <a href="/myapp/shop_view_pets_get/" class="action-card"
            >📦 View Pets</a
          >
          <a href="/myapp/shop_add_product_get/" class="action-card"
            >➕ Add Product</a
          >
          <a href="/myapp/shop_view_products_get/" class="action-card"
            >📁 View Products</a
          >
          <a href="/myapp/shop_view_order_status_get/" class="action-card"
            >📦 View Orders</a
          >
        </div>
      </section>
    </main>
  </body>
</html>
