<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>

    <link rel="stylesheet" href="/static/user/forgot.css" />
  </head>
  <body>
    <div class="box">
      <h2>Forgot Password</h2>

      <form id="forgotForm">
        <input
          type="text"
          id="email"
          placeholder="Enter your registered email"
        />
        <p id="emailError" class="error"></p>

        <button type="submit">Send Reset Link</button>

        <p class="back">Back to <a href="/myapp/login_get/">Login</a></p>

        <p id="messageBox" class="message"></p>
      </form>
    </div>
    </body>

    
</html>
